<p>Hi <%= @receiver.username%>, </p>

<p><b><%= @follower.username%><b> has followed you on <a href="http://cloneinstagram-quanlykho.rhcloud.com/">Clone Instagram</a></p>

<p>Visit us on <a href="http://cloneinstagram-quanlykho.rhcloud.com/">Clone Instagram</a></p>