<div class="center-block">
  <% @feed.each do |photo_id, feed| %>
    <div class="modal-img-container">
      <%= image_tag "/photos/#{feed['photo_url']}", :class => 'img-responsive modal-img' %>
    </div>
    <div class="modal-comment-container">
      <ul class="modal-comment-list">
        <% feed['comments'].each do |id, comment| %>
          <li>
            <span class="author-info"><%= comment[:username]%></span>
            <span class="message"><%= comment[:message]%></span>
          </li>
        <% end %>
      </ul>
    </div>
    <br>
    <input type="text" name="comment" class="form-control modal-comment" placeholder="Add a comment" id-photo="<%= photo_id%>">
  <% end %>
</div>