// Place all the styles related to the Photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feeds-container{
	width: 50%;
	padding-top: 20px;
}
.feeds-image{
	list-style-type: none;
}
.feeds-image li{
	margin-bottom: 20px;
	border: 1px solid #eee;
}
.author-info{
	padding: 10px;
	color: #004a75
}
.author-info span.datetime{
  float: right;
	color: #aaa;
}
.posted-thumbnail{
	max-width: 50px;
}
.comment-list{
	list-style-type: none;
	border-bottom: 1px solid #ddd;
	padding: 0px;
	margin-left: 20px;
	margin-right: 20px;
}
.comment-list li{
	border: 0px;
}
.comment{
	width: 80%;
	margin: 0 auto;
	border: none;
}